{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://external.transitapp.com/v3/otp/plan?fromPlace=40.77709768562554,-73.87400881765025&toPlace=40.77709768562554,-73.87400881765025",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Api-Key": [
            "DONT_SHARE_MY_TRANSIT_KEY"
          ]
        }
      },
      "response": {
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Www-Authenticate": [
            "Key realm=\"kong\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"message\":\"No API key found in request\"\n}"
        }
      },
      "recorded_at": "Wed, 26 Jul 2023 22:54:47 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}