{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://external.transitapp.com/v3/otp/plan?fromPlace=40.77709768562554,-73.87400881765025&toPlace=40.748594902847515,-73.98564294463469",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Apikey": [
            "DONT_SHARE_MY_TRANSIT_KEY"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Remaining-Minute": [
            "4"
          ],
          "X-Ratelimit-Limit-Minute": [
            "5"
          ],
          "Ratelimit-Remaining": [
            "4"
          ],
          "Ratelimit-Reset": [
            "29"
          ],
          "Ratelimit-Limit": [
            "5"
          ],
          "Etag": [
            "W/\"63fb-ifsvORwhoT/+9/paM/x5aLb5n1I\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\n\t\"plan\": {\n\t\t\"date\": 1690923722000,\n\t\t\"from\": {\n\t\t\t\"lat\": 40.77709057035895,\n\t\t\t\"lon\": -73.87400346201532,\n\t\t\t\"name\": \"\",\n\t\t\t\"vertexType\": \"NORMAL\"\n\t\t},\n\t\t\"itineraries\": [\n\t\t\t{\n\t\t\t\t\"accessiblity\": \"WheelchairStrict\",\n\t\t\t\t\"duration\": 3595,\n\t\t\t\t\"endTime\": 1690927416000,\n\t\t\t\t\"legs\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"distance\": 443,\n\t\t\t\t\t\t\"duration\": 505,\n\t\t\t\t\t\t\"endTime\": 1690924326000,\n\t\t\t\t\t\t\"from\": {\n\t\t\t\t\t\t\t\"lat\": 40.77579554907584,\n\t\t\t\t\t\t\t\"lon\": -73.87361675427105,\n\t\t\t\t\t\t\t\"name\": \"\",\n\t\t\t\t\t\t\t\"vertexType\": \"NORMAL\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"legGeometry\": {\n\t\t\t\t\t\t\t\"length\": 18,\n\t\t\t\t\t\t\t\"points\": \"u_{wFbm{aM^ZLqAJu@LiAFs@D_@BQTFLSl@^|Ex@PDT?R?P@pA@?m@\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"mode\": \"WALK\",\n\t\t\t\t\t\t\"startTime\": 1690923821000,\n\t\t\t\t\t\t\"steps\": [],\n\t\t\t\t\t\t\"to\": {\n\t\t\t\t\t\t\t\"lat\": 40.77302564244253,\n\t\t\t\t\t\t\t\"lon\": -73.87240267181814,\n\t\t\t\t\t\t\t\"name\": \"\",\n\t\t\t\t\t\t\t\"vertexType\": \"NORMAL\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"transitLeg\": false\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"agencyId\": \"MTAMNT:MTA NYCT\",\n\t\t\t\t\t\t\"agencyName\": \"MTA New York City Transit\",\n\t\t\t\t\t\t\"agencyTimeZoneOffset\": -14400000,\n\t\t\t\t\t\t\"agencyUrl\": \"http://transitapp.com\",\n\t\t\t\t\t\t\"arrivalDelay\": -54,\n\t\t\t\t\t\t\"departureDelay\": -54,\n\t\t\t\t\t\t\"distance\": 5618.96357265085,\n\t\t\t\t\t\t\"duration\": 1020,\n\t\t\t\t\t\t\"endTime\": 1690925346000,\n\t\t\t\t\t\t\"from\": {\n\t\t\t\t\t\t\t\"globalStopId\": \"MTAMNT:14942\",\n\t\t\t\t\t\t\t\"lat\": 40.77300765603582,\n\t\t\t\t\t\t\t\"lon\": -73.8724116650215,\n\t\t\t\t\t\t\t\"name\": \"LaGuardia / Terminal B\",\n\t\t\t\t\t\t\t\"stopCode\": \"904242\",\n\t\t\t\t\t\t\t\"stopId\": \"MTAMNT:904242\",\n\t\t\t\t\t\t\t\"stopIndex\": 1,\n\t\t\t\t\t\t\t\"vertexType\": \"TRANSIT\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"globalRouteId\": \"MTAMNT:36616\",\n\t\t\t\t\t\t\"headsign\": \"West Side Broadway-106 St\",\n\t\t\t\t\t\t\"interlineWithPreviousLeg\": false,\n\t\t\t\t\t\t\"intermediateStops\": [\n\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\"globalStopId\": \"MTAMNT:14867\",\n\t\t\t\t\t\t\t\t\"lat\": 40.77291772400226,\n\t\t\t\t\t\t\t\t\"lon\": -73.88612630013776,\n\t\t\t\t\t\t\t\t\"name\": \"LaGuardia / Terminal A / Marine Air Terminal\",\n\t\t\t\t\t\t\t\t\"stopCode\": \"503853\",\n\t\t\t\t\t\t\t\t\"stopId\": \"MTAMNT:503853\",\n\t\t\t\t\t\t\t\t\"stopIndex\": 2,\n\t\t\t\t\t\t\t\t\"vertexType\": \"TRANSIT\"\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\"globalStopId\": \"MTAMNT:12403\",\[...]
